:root {
    --fonte-principal: "Montserrat", sans-serif;
    --fonte-secundaria: "Krona One", sans-serif;
}


body {
    height: 100vh;
    box-sizing: border-box;
    background-color: #000000;
    color: #F6F6F6;
    font-family: var(--fonte-principal);

}

.principal {
    margin: 10% 12%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

.principal__secao {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.principal__titulo {
    font-family: var(--fonte-secundaria);
    font-size: 36px;
    font-weight: 400;
    line-height: 56px;
    padding: 1em 0;

}

.principal_destaque {
    color: #22D4FD;
}

.principal__texto {
    font-family: var(--fonte-principal);
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
}

.principal__botao{
    display: flex;
    justify-content: space-between;
}

.principal__link {
    width: 280px;
    text-align: center;
    border: 1px solid;
    padding: 21.5px 0;
    border-radius: 16px;
    background-color: #22D4FD;
    color: #000000;
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
    font-family: var(--fonte-principal);
}

img {
    width: 480px;
    height: 550px;
}