*{
    margin: 0;
    padding: 0;
}

:root {
    --fonte-principal: "Montserrat", sans-serif;
    --fonte-secundaria: "Krona One", sans-serif;
    --preto: #000000;
    --preto-secundario: #272727;
    --azul-principal: #22D4FD;
    --branco: #F6F6F6;
}


body {
    box-sizing: border-box;
    background-color: var(--preto);
    color: var(--branco);
    font-family: var(--fonte-principal);
}

.cabecalho{
    padding: 2% 0 0 15%;
}

.cabecalho__menu{
    display: flex;
    gap: 80px;
}

.cabecalho__menu-link{
    font-family: var(--fonte-principal);
    font-weight: 600;
    font-size: 24px;
    text-decoration: none;
    color: var(--azul-principal);
}

.principal {
    padding: 5% 15%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.principal__secao {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.principal__titulo {
    font-family: var(--fonte-secundaria);
    font-size: 36px;
    font-weight: 400;
    line-height: 56px;
    padding: 1em 0;
}

.principal_destaque {
    color: var(--azul-principal);
}

.principal__texto {
    font-family: var(--fonte-principal);
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
}

.principal__botao{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.principal__botao-subtitulo{
    font-family: var(--fonte-secundaria);
    font-size: 24px;
    line-height: 40px;
}

.principal__botao-link {
    width: 378px;
    text-align: center;
    border: 2px solid var(--azul-principal);
    border-radius: 8px;
    padding: 21.5px 0; 
    /* background-color: #22D4FD; primeiro layout*/
    color: var(--branco);
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
    font-family: var(--fonte-principal);
    display: flex;
    justify-content: center;
    gap: 16px;
}

.principal__botao-link:hover{
    background: var(--preto-secundario);
}

.principal__botao-imagem {
    width: 488px;
}

.rodape{
    color: var(--preto);
    background-color: var(--azul-principal);
    padding: 24px;
    text-align: center;
    font-size: 24px;
    font-family: var(--fonte-principal);
    font-weight: 400;
}

.apresentacao{
    padding: 5% 15%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__conteudo{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__lista-imagem{
    width: 593px;
}

.apresentacao__titulo{
    font-family: var(--fonte-secundaria);
    font-size: 36px;
    font-weight: 400;
    line-height: 56px;
    padding: 1em 0;  
}

.apresentacao__texto{
    font-family: var(--fonte-principal);
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    text-align: justify;
}